.base-amount {
  font-size: x-large;
  font-weight: bold;
}
.base-amount span:nth-child(2) {
  font-size: small;
}
.money::before {
  content: '¥';
  margin-right: 0.3rem;
}
.base-title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
