@primary-0: #3BCEB1;
@primary-1: #47C6A8;
@primary-3: #b8ebe2;
@primary-4: #438883;
@primary-8: #EBF5F3;
@primary-2: #ED5758;
@gray-0: #DDDDDD;
@gray-1: #999999;
@gray-2: #838383;
@gray-10: #000000;
@gray-bg: #FAFAFA;


.base-amount{
  font-size: x-large;
  font-weight: bold;

  span{
    &:nth-child(2){
      font-size: small;
    }
  }
}

.money{
  &::before{
    content: '¥';
    // font-size: 1rem;
    margin-right: .3rem;
  }
}

.base-title {
  // font-size: 1rem;
  font-weight: bold;
  margin-bottom: .6rem;
}
