.base-amount {
  font-size: 1rem;
  font-weight: bold;
}
.base-amount span:nth-child(2) {
  font-size: small;
}
.money::before {
  content: '¥';
  margin-right: 0.3rem;
}
.base-title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.icon-font {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
